<%- include('partials/header') %>

<div class="hero particles-bg">
    <h1>Automation and Enrichment </h1>
    <p>Streamline your LinkedIn & Email outreach and enrich your contact lists with our powerful ai automations</p>
    <a href="/client/1" class="cta-button morph-button ripple">
        Get Started
        <span>→</span>
    </a>
</div>

<div class="container">
    <div class="features">
        <div class="feature">
            <!-- <div class="feature-icon"></div> -->
            <h2>Linkedin Automation</h2>
            <p>Simply provide a link to a LinkedIn account list, and we'll use advanced tools to generate a comprehensive, enriched list for you.</p>
        </div>
        <div class="feature">
            <!-- <div class="feature-icon"></div> -->
            <h2>Contact Enrichment</h2>
            <p>We go beyond basic information, enriching your lists with valuable data points to help you connect with the right people.</p>
        </div>
        <div class="feature">
            <!-- <div class="feature-icon"></div> -->
            <h2>Email Campaign Setup</h2>
            <p>Set up and manage automated email campaigns to nurture leads and engage with your audience.</p>
        </div>
    </div>
    <div class="quote">
        <p>"My clients don’t exactly ask to enrich a list every minute. They make one, we prepare it with the tools, and then we upload it back enriched. That’s it."</p>
    </div>
</div>

<%- include('partials/footer') %>
